#_______Keyword(s) added in the Project.config file by the user before the input submission procedure:
MOLECULE1-TITLE         = DVE-DMDS-OPLS
MOLECULE1-ATMTYPE       = CT HC HC HC CT HC HC OS CT HC HC CT HC HC OS CT HC HC CT HC HC OS CT HC HC CT HC HC S CT HC HC CT HC HC S CT HC HC CT HC HC S CT HC CH CT HC HC HC
MOLECULE1-CHEMEQSM      = C1 H1 H1 H1 C2 H2 H2 O1 C2 H2 H2 C2 H2 H2 O1 C2 H2 H2 C2 H2 H2 O1 C2 H2 H2 C3 H3 H3 S1 C3 H3 H3 C3 H3 H3 S1 C3 H3 H3 C3 H3 H3 S1 C3 H3 H3 C@4 H4 H4 H4
MOLECULE1-CHEMEQIA      = C1 H1 H1 H1 C2 H2 H2 O1 C2 H2 H2 C2 H2 H2 O1 C2 H2 H2 C2 H2 H2 O1 C2 H2 H2 C3 H3 H3 S1 C3 H3 H3 C3 H3 H3 S1 C3 H3 H3 C3 H3 H3 S1 C3 H3 H3 C4 H7 H8 H9
MOLECULE1-INTRA-MCC1    = 0.0 | 47 48 49 50 | Remove
