#_______Keyword(s) added in the System.config file by the user before the input submission procedure:
OPT_Calc                = ON
MEPCHR_Calc             = ON
CHR_TYP                 = RESP-O1
#_______Keyword(s) chosen by the user during the input submission procedure or defined by the PBS script:
QMSOFT                  = GAUSSIAN16
NP                      = 8
MAXMEMVAL               = 61440
STRIP                   = ON
